<%= stylesheet_link_tag 'admin_edit_broker_form.css' %>
<body class = "admin-edit-buyer">
<div class = "admin-form-container mt-5">
  <%= form_with method: :put, scope: :buyer, url: update_buyer_admin_path , local:true do |f| %>
    <div class = "admin-form-edit">
      <h1>EDIT BUYER ACCOUNT</h1>

      <div class = "form-group">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %>
      </div>

      <div class = "form-group">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %>
      </div>

      <%= f.submit "Edit Account", class:'btn btn-light mb-3' %><br />
      <%= link_to "Go Back", admins_path, class:'btn btn-light mb-3' %>
    </div>
  <% end %>
</div>
</body>
