EDIT BUYER ACCOUNT
<div>
  <%= form_with method: :put, scope: :buyer, url: update_buyer_admin_path , local:true do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.submit 'Save' %>
    <%= link_to "Go Back", admins_path %>
  <% end %>
</div>
