OPEN BUYER ACCOUNT
<div>
  <%= form_with method: :post, scope: :buyer, url: create_buyer_admin_path , local:true do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.text_field :password %>

    <%= f.submit 'Save' %>
    <%= link_to "Go Back", admins_path %>
  <% end %>
</div>
