<%= stylesheet_link_tag 'buyer_show.css' %>
<body class='broker-bg'>
<h3 class="text-center h1">STOCKS TO BUY</h3>
<table class="container table">
  <thead class="thead-dark">
    <tr>
    <th scope="col"></th>
      <th scope="col">Ticker</th>
      <th scope="col">Company</th>
      <th scope="col">Price</th>
      <th scope="col">Broker</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <% @broker_stocks.each do |broker_stock| %>
      <tbody>
        <tr>
          <td scope="row"></td>
          <td class="text-success font-weight-bold"><%= broker_stock.stock.ticker %></td>
          <td><%= broker_stock.stock.company %></td>
          <td><%= number_to_currency(broker_stock.stock.price) %></td>
          <td class="text-capitalize text-success font-weight-bold"><%= broker_stock.broker.first_name.capitalize %> <%= broker_stock.broker.last_name.capitalize %></td>
          <td><%= link_to 'Buy', broker_stock_path(id: broker_stock.id, broker_id: broker_stock.broker_id, stock_id: broker_stock.stock_id), class: 'btn btn-success' %>
        </tr>
      </tbody>
  <% end %>
</table>
<br><br>
<div class="text-center">
  <%= link_to "Go Back", :back, class: 'btn btn-light btn-lg' %>
</div>
</body>