<%= form_with method: :post, scope: :buyer_stock, url: buyer_stocks_path(id: @broker_stock.id) , local:true do |f| %>
  <p>Broker: <%= @broker.first_name %> <%= @broker.last_name %></p>
  <p>Stock Ticker: <%= @stock.ticker %></p>
  <p>Stock Company: <%= @stock.company %></p>
  <%= f.label :quantity %>
  <%= f.number_field :quantity %>
  <p>Stock Price: <%= @stock.price %></p>
  <%= f.submit 'Buy' %>
<% end %>