<table>
  <thead>
    <tr>
      <th scope="col">Stock Ticker</th>
      <th scope="col">Stock Company</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Amount</th>
    </tr>
  </thead>
  <% @buyer_stocks.group(:stock_id).sum(:quantity).each do |id, sum| %>
  <tbody>
    <tr>
    
      <% stock = Stock.find(id) %>
      <td><%= stock.ticker %></td>
      <td><%= stock.company %></td>
      <td><%= number_to_currency(stock.price.to_f) %></td>
      <td><%= sum %></td>
      <td><%= number_to_currency(stock.price.to_f * sum) %></td>
    
    </tr>
  </tbody>
  <% end %>
</table>
<br><br>
