<%= stylesheet_link_tag 'broker_show.css' %>
<body class="broker-bg">
<div class="d-flex justify-content-center mb-4">
  <%= image_tag("broker.png", size: 100)%>
</div>
<h3 class="text-center text-light">TRANSACTIONS</h3>
<table class="container table">
  <thead class="thead-dark">
    <tr>
    <th scope="col"></th>
      <th scope="col">Date Purchased</th>
      <th scope="col">Ticker</th>
      <th scope="col">Company</th>
      <th scope="col">Price</th>
      <th scope="col">Buyer</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Amount</th>
    </tr>
  </thead>
  <% @buyer_stocks.each do |buyer_stock| %>
    <% if buyer_stock.broker_stock.broker_id === current_broker.id %>
      <tbody>
        <tr>
          <td scope="row"></td>
          <td><%= buyer_stock.created_at.strftime("%d-%^b-%Y, %l:%M %p UTC") %></td>
          <td class="text-success font-weight-bold"><%= buyer_stock.broker_stock.stock.ticker %></td>
          <td><%= buyer_stock.broker_stock.stock.company %></td>
          <td><%= number_to_currency(buyer_stock.broker_stock.stock.price) %></td>
          <td class='text-success font-weight-bold'><%= buyer_stock.buyer.first_name.capitalize %> <%= buyer_stock.buyer.last_name.capitalize %></td>
          <td><%= buyer_stock.quantity %></td>
          <td class="text-success font-weight-bold"><%= number_to_currency(buyer_stock.broker_stock.stock.price.to_f * buyer_stock.quantity) %></td>
        </tr>
      </tbody>
    <% end %>
  <% end %>
</table>
<br>
<div class="text-center">
  <%= link_to "Go Back", :back, class: 'btn btn-light btn-lg' %>
</div>
<br><br><br>
<div class="text-center"><small>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small></div>
</body>