<%= stylesheet_link_tag 'broker_show.css' %>
<body class="broker-bg">
<div class="container">
  <% if broker_signed_in? %>
    <%= render template: "stocks/new.html.erb" %>
  <% else %>
    <h1 class="text-center text-light">BROKER<br><br><%=@broker_admin.first_name.capitalize %> <%=@broker_admin.last_name.capitalize %></h1>
    <h1 class="text-center text-light"><%=@broker_admin.email %></h1>
    <div class="text-center mt-4"><%= link_to "Back", :back, class: 'btn btn-light' %></div>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6 performers">
      <%= render template: 'brokers/show.html.erb' %>
    </div>   
    <div class="col-xs-6 portfolio text-center">  
    <h2 class="text-success"><b>PORTFOLIO</b></h2><br>
      <table class="this-table">
        <thead>
          <tr>
          <th scope="col"></th>
            <th scope="col">TICKER</th>
            <th scope="col">COMPANY</th>
            <th scope="col">PRICE</th>
          </tr>
        </thead>
        <% @broker_stocks.each do |broker| %>
          <tbody>
            <tr>
              <td scope="row"></td>
              <td><%= broker.ticker %></td>
              <td><%= broker.company %></td>
              <td><%= number_to_currency(broker.price) %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
<br><br><br>
<div class="bottom text-center"><small>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small></div>
</body>